/* Here you can add other styles */
body {
    --ck-z-default: 290;
    --ck-z-modal  : calc(var(--ck-z-default) + 999);
}

/*:root {
    --ck-z-default: 100;
    --ck-z-modal  : calc(var(--ck-z-default) + 999);
}*/

.ck-content .table {
    width: auto;
    margin-left: 4px;
    padding-right: 10px;
}







.fs-1 {
    font-size: 1.700rem;
}

.fs-2 {
    font-size: 1.350rem;
}

.fs-3 {
    font-size: 1.125rem;
}

.fs-4 {
    font-size: 1rem;
}

.fs-5 {
    font-size: 0.875rem;
}

.fs-6 {
    font-size: 0.575rem;
}





.object-cover {
    object-fit     : cover !important;
    object-position: center !important;
    width          : 100%;
    height         : 100%;
}









.c-sidebar a:hover {
    background-color: rgba(rgb(197, 184, 184), .3) !important;
}










.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 0.25rem !important;
    background-color: #fff;
    border-color: #d8dbe0;
}




.alert-danger {
    color: #000;
    background-color: #e093a0 !important;
    border-color: #e093a0;
}


.table {
    font-family: inherit !important;
    font-weight: 600;
    color      : #888 !important;
}
.table td,
th {
    vertical-align: middle !important;
}
.table th {
    font-size: 14px;
    color    : #000;
}
.table td {
    font-size: 13px;
}








.modal-header {
    /*padding-left  : 15px !important;*/
    padding-top   : 8px;
    padding-bottom: 8px;
}
.modal-title {
    font-size  : 15px;
    width      : 98% !important;
}
.modal-body::-webkit-scrollbar {
    width: 7px;
}
.modal-body::-webkit-scrollbar-thumb {
    background   : #acb0b9;
    border-radius: 1px;
}




.form-group {
    margin-bottom: 8px !important;
}
.form-group > .col-form-label {
    margin-bottom: -2px !important;
    font-size    : 12.5px;
    font-weight  : 470;
    color        : #007bff;
}